{% extends "base.html" %} {% block title %}Iniciar sesión{% endblock %} {% block
content %}
<div class="form-container">
  <h2>Iniciar sesión</h2>

  <form method="POST">
    <label>Correo electrónico</label>
    <input type="email" name="email" required />

    <label>Contraseña</label>
    <input type="password" name="password" required />

    <button class="apple-btn" type="submit">Entrar</button>
  </form>

  <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate</a></p>
</div>
{% endblock %}
